@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 48 33.33% 97.06%;
    --foreground: 48 19.61% 20%;
    --card: 48 33.33% 97.06%;
    --card-foreground: 60 2.56% 7.65%;
    --popover: 0 0% 100%;
    --popover-foreground: 50.77 19.4% 13.14%;
    --primary: 15.11 55.56% 52.35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 46.15 22.81% 88.82%;
    --secondary-foreground: 50.77 8.5% 30%;
    --muted: 44 29.41% 90%;
    --muted-foreground: 50 2.36% 50.2%;
    --accent: 46.15 22.81% 88.82%;
    --accent-foreground: 50.77 19.4% 13.14%;
    --destructive: 60 2.56% 7.65%;
    --destructive-foreground: 0 0% 100%;
    --border: 50 7.5% 84.31%;
    --input: 50.77 7.98% 68.04%;
    --ring: 210 74.8% 49.8%;
    --chart-1: 18.28 57.14% 43.92%;
    --chart-2: 251.45 84.62% 74.51%;
    --chart-3: 46.15 28.26% 81.96%;
    --chart-4: 256.55 49.15% 88.43%;
    --chart-5: 17.78 60% 44.12%;
    --sidebar: 51.43 25.93% 94.71%;
    --sidebar-foreground: 60 2.52% 23.33%;
    --sidebar-primary: 15.11 55.56% 52.35%;
    --sidebar-primary-foreground: 0 0% 98.43%;
    --sidebar-accent: 46.15 22.81% 88.82%;
    --sidebar-accent-foreground: 0 0% 20.39%;
    --sidebar-border: 0 0% 92.16%;
    --sidebar-ring: 0 0% 70.98%;
    --font-sans: Inter, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  .dark {
    --background: 60 2.7% 14.51%;
    --foreground: 46.15 9.77% 73.92%;
    --card: 60 2.7% 14.51%;
    --card-foreground: 48 33.33% 97.06%;
    --popover: 60 2.13% 18.43%;
    --popover-foreground: 60 5.45% 89.22%;
    --primary: 14.77 63.11% 59.61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 33.33% 97.06%;
    --secondary-foreground: 60 2.13% 18.43%;
    --muted: 60 3.85% 10.2%;
    --muted-foreground: 51.43 8.86% 69.02%;
    --accent: 48 10.64% 9.22%;
    --accent-foreground: 51.43 25.93% 94.71%;
    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 60 5.08% 23.14%;
    --input: 52.5 5.13% 30.59%;
    --ring: 210 74.8% 49.8%;
    --chart-1: 18.28 57.14% 43.92%;
    --chart-2: 251.45 84.62% 74.51%;
    --chart-3: 48 10.64% 9.22%;
    --chart-4: 248.28 25.22% 22.55%;
    --chart-5: 17.78 60% 44.12%;
    --sidebar: 30 3.33% 11.76%;
    --sidebar-foreground: 46.15 9.77% 73.92%;
    --sidebar-primary: 0 0% 20.39%;
    --sidebar-primary-foreground: 0 0% 98.43%;
    --sidebar-accent: 60 3.45% 5.69%;
    --sidebar-accent-foreground: 46.15 9.77% 73.92%;
    --sidebar-border: 0 0% 92.16%;
    --sidebar-ring: 0 0% 70.98%;
    --font-sans: Inter, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {

  .chat-message {
    @apply bg-card rounded-lg py-3 px-4 mb-4 relative leading-normal animate-fadeIn;
  }

  .typing-indicator {
    @apply inline-flex items-center ml-2;
  }

  .typing-indicator .dot {
    @apply inline-block w-2 h-2 rounded-full bg-zinc-500 mr-1 animate-customBounce;
  }

  .typing-indicator .dot:nth-child(1) {
    @apply [animation-delay:0s]; 
  }
  .typing-indicator .dot:nth-child(2) {
    @apply [animation-delay:0.2s];
  }
  .typing-indicator .dot:nth-child(3) {
    @apply [animation-delay:0.4s];
  }

  .code-block-wrapper {
    @apply my-4 rounded overflow-hidden font-mono text-sm shadow-md;
  }

  .code-block-header {
    @apply bg-zinc-800 py-2 px-3 text-xs font-medium flex justify-between items-center;
  }

  .code-language-tag {
    @apply bg-white/15 text-amber-600 py-0.5 px-1.5 rounded text-[11px] lowercase tracking-wider;
  }

  .inline-code {
    @apply bg-black/5 rounded-sm font-mono py-0.5 px-[5px] text-[0.9em] text-pink-600;
  }
}
